/dataset/*
/experiments/*
/.venv/*
/outputs/*
/game.mp4
/game_cuts
/network.pth
/utils
/datasets
/reidentification
/keypoints/experiments
/keypoints/outputs
/keypoints/best_yolo_keypoints.pt
/ball
/players
/output_videos